<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Certificate</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      text-align: center;
      padding: 100px;
    }
    .certificate {
      border: 10px solid #ddd;
      padding: 50px;
    }
  </style>
</head>
<body>
  <div class="certificate">
    <%= yield %>
  </div>
</body>
</html>
